{% extends 'static/inicio.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block contenido %} 

<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <br>
    <br>
    <br>
    {%if forms.errors %}
      <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
      </div>
    {% endif %}
    
    <div class="container" id="advanced-search-form">
        <h2><b>ALTA CARRERA</b></h2>
    <form action="" method="POST"> {% csrf_token %}
        {{formulario|crispy}}
        <br>
        <button type="submit" value='Guardar' class="btn btn-primary">Guardar</button>
        <br>
        {% if registro %}
        <div class="alert alert-success" role="alert">
            La carrera {{carrera_registrada.carrera}}, plan de estuio {{carrera_registrada.plan_de_estudio}}, cantidad de asignaturas {{carrera_registrada.cantidad_asignaturas}} ha sido registrada existosamente.
        </div>
        {% endif %}
    </form>
</body>
{% endblock %}
</html>
